@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('opentype');
}


/* GENERAL & HEADLINES */
:root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1 {
  color: #ffffff;
  font-size: 70px;
  min-height: 160px;
  max-width: 1000px;
  padding-left: 80px;
  font-weight: 600;
  line-height: 1em;
}

h2 {
  font-size: 64px;
  color: #99b6ad;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  color: #F5F5F5;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #4a4a4a;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.termin-sticky-button {
  font-family: 'Montserrat';
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #ffffff;
  font-size: 22px;
  line-height: 32px;
  background-color: #CC5500;
  position: fixed;
  z-index: 1;
  bottom: 4%;
  right: 4%;
  border: 1px solid #CC5500;
  padding: 16px 32px;
  border-radius: 88.5px;
  cursor: pointer;
}

.termin-sticky-button:hover {
  background-color: #FF6F61;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  p {
    padding-bottom: 50px;
  }
}

/* HERO */
.logo {
  color: #99b6ad;
  max-width: 300px;
  padding-top: 24px;
  padding-left: 80px;
}

.hero {
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%),
    url('../img/Vinyasa-yoga-teacher-downward-facing-dog.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 80px;
    height: auto;
    padding-left: 30px;
  }

  .hero {
    background-position: center;
  }
}

/* NAVBAR & BURGER MENU */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-anchorlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 80px;
  gap: 30px;
}

.navbar-anchorlinks a {
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: center;
}

.navbar-anchorlinks a:hover {
  text-decoration: underline;
  text-decoration-color: #99b6ad;
  text-underline-offset: 0.4em;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-anchorlinks {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .burger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 30px;
    z-index: 1000;
  }

  .burger-bar {
    background-color: #fff;
    display: block;
    height: 6px;
    width: 50px;
    border-radius: 20px;
    margin: 10px auto;
    transition: all 0.3s ease-in-out;
  }

  .burger-button:focus {
    outline: none;
  }

  .burger-button:hover .burger-bar {
    opacity: 0.7;
  }

  .burger-menu-geklickt {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger-menu-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    background-color: #fff;
    text-align: center;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .burger-menu-content a {
    text-decoration: none;
    color: inherit;
    color: black;
  }

  .burger-menu-schliessen {
    gap: 10px;
    color: #ffffff;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    background-color: #99b6ad;
    border: 1px solid #99b6ad;
    padding: 5px 32px;
    border-radius: 88.5px;
    cursor: pointer;
  }

  .burger-menu-schliessen button {
    padding: 5px 5px;
  }

  .navbar-active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .navbar-active a {
    color: #333;
    padding: 10px;
    display: block;
    text-align: center;
  }

  .navbar-active a:hover {
    background-color: #f2f2f2;
  }
}

#philosophy,
#team,
#teacher-training,
#news {
  text-align: center;
  padding: 100px 200px 100px 200px;
}

@media screen and (max-width: 767px) {

  #philosophy,
  #team,
  #teacher-training,
  #news {
    padding: 70px 20px 30px 20px;
  }
}

#news p {
  padding-bottom: 10px;
}

.news-icon {
  color: #99b6ad;
  text-decoration: none;
}

/* THERAPIEN */
#philosophy {
  background-color: #f5f5f5;
}

.therapie-motivation {
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%),
    url('../img/Vinyasa-yoga-child-pose.jpg');
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100vh;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.therapie-motivation h2 {
  width: 377px;
  padding-left: 80px;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
  .therapie-motivation {
    background-position: bottom;
  }

  .therapie-motivation h2 {
    font-size: 50px;
    padding-left: 30px;
  }
}

/* DAS TEAM */
.unser-team-subheadline {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.unser-team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100vw;
  place-items: center;
}

.unser-team-container img {
  width: 326px;
  height: auto;
  border-radius: 50px;
  object-fit: contain;
}

.unser-team-container p {
  text-align: center;
}

.unser-team-container-name {
  font-weight: bold;
}

.down {
  transform: translateY(40px);
}

/* DAS TEAM - HOVER*/
.unser-team-container>* {
  transition: transform 0.4s;
}

.unser-team-container>*:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 767px) {
  .unser-team-container {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1px;
  }

  .unser-team-container p {
    padding-bottom: 5px;
  }

  .down {
    transform: translateY(0px);
  }
}

/* KARRIERE*/
.karriere-container {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  padding: 100px 240px;
}

.karriere-container img {
  width: 326px;
  height: auto;
  border-radius: 50px;
}

.karriere-container-rechts {
  padding-left: 60px;
  text-align: left;
}

.karriere-container-rechts p {
  max-width: 480px;
  text-align: left;
}

.karriere-container-rechts h2 {
  width: auto;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin-top: 0px;
}

.karriere-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-underline {
  text-decoration: none;
}

.karriere-container-rechts button {
  font-family: "Montserrat";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99b6ad;
  color: #ffffff;
  width: fit-content;
  white-space: nowrap;
  gap: 24px;
  padding: 16px 32px;
  border-radius: 88.5px;
  border: 1px solid #f1f1f1
}

.karriere-container-rechts button img {
  border: 1px solid #0000001A;
  border-radius: 50%;
  width: auto;
  height: auto;
  padding: 5px
}

.karriere-container-rechts button:hover {
  background-color: #FFCBA4;
  cursor: pointer;
}

.karriere-container-rechts button:hover img {
  background-color: #ffffff;

}

@media screen and (max-width: 767px) {
  .karriere-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }

  .karriere-container img {
    display: block;
    margin: 0 auto;
  }

  .karriere-container-rechts {
    padding-left: 5px;
  }

  .karriere-container-rechts p {
    text-align: center;
  }


  .karriere-container-rechts h2 {
    width: auto;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    padding: 33px 0;
  }

  .karriere-buttons {
    align-items: center;
  }
}

/* Footer */
.footer {
  background-color: #4A4A4A  ;
  padding: 20px;
  display:flex;
  justify-content:space-around;
  text-align: center;
}

#footer p {
  color: #f1f1f1;
  font-size: 18px;
  line-height: 18px;
}

.footer-text {
  color: white;
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-icon {
  color: white;
  text-decoration: none;
}

.footer-logo {
  background-color: #4a4a4a;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media screen and (max-width: 767px) {
.footer {
  display: flex;
  flex-direction: column;
}
}



/*POPUP TERMINVEREINBARUNG */

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-button {
  gap: 10px;
  color: #99b6ad;
  background-color: white;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  border: 1px solid #99b6ad;
  padding: 7px 12px;
  border-radius: 88.5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popup-button-mail {
  background-color: white;
  cursor: pointer;
  border: none;
}

.popup-icon {
  color: #99b6ad;
}

.popup-button:hover {
  background-color: #FF6F61;
}